<div class="container__big-card">
  <div class="big-card__photo">
    <img src="https://wallpapers.com/images/hd/iron-man-pictures-k83lqhe6vnh95b1m.jpg" alt="">
  </div>

  <div class="big-card__title">
    <h1><a href="#">Sai a nova versão do angular</a></h1>
  </div>

  <div class="big-card__description">
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus eaque, accusantium debitis nulla ab, dolorum facilis, vero corrupti quidem voluptatem eum nihil doloribus sed magnam placeat error molestiae. Distinctio, blanditiis!</p>
  </div>
</div>
