@media screen and (min-width: 400px){
  .container__menu-title > h1{
    font-size: 50px;
  }
}

@media screen and (min-width: 600px){
  .container__menu-title > h1{
    font-size: 75px;
  }
}

@media screen and (min-width: 770px) {
  .container__menu-title > h1{
    font-size: 100px;
  }
}

@media screen and (min-width: 1070px) {
  .container__menu-title > h1{
    font-size: 135px;
  }
}
