<header>
  <app-menu-bar></app-menu-bar>
</header>

<app-menu-title></app-menu-title>

<div class="articles__articles">
  <div class="articles__main">
    <app-big-card
      photoCover="https://wallpapers.com/images/hd/iron-man-pictures-k83lqhe6vnh95b1m.jpg"
      cardTitle="NOVO HOME DE FERRO ANUNCIADO"
      cardDescription="Marvel estudios aniciam um novo homen de ferro."
      ></app-big-card>
  </div>
  <div class="articles__others">
    <app-small-card
      photoCover="https://miro.medium.com/v2/resize:fit:1358/0*qdHImq1G588SB9Ii.jpg"
      cardTitle="Nova série anunciada">
    </app-small-card>

    <app-small-card
      photoCover="https://miro.medium.com/v2/resize:fit:1358/0*qdHImq1G588SB9Ii.jpg"
      cardTitle="Nova série anunciada">
    </app-small-card>

    <app-small-card
      photoCover="https://miro.medium.com/v2/resize:fit:1358/0*qdHImq1G588SB9Ii.jpg"
      cardTitle="Nova série anunciada">
    </app-small-card>

  </div>
</div>
