.articles__articles{
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr;
}

.articles__main{
  margin-right: 0;
  margin-bottom: 1.6rem;
}

@media screen and (min-width: 1040px) {
  .articles__articles{
    width: 992px;
    height: auto;
    margin: 1rem auto;
    grid-template-columns: 1fr 1fr;
  }

  .articles__main{
    margin-right: 1rem;
    margin-bottom: 0;
  }
}
