/* You can add global styles to this file, and also import other style files */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #121212;
  color: white;
  font-family: 'segoe UI', Helvetica, Arial, Verdana, Tahoma, sans-serif;
}

a{
  text-decoration: none;
}

hr{
  border-color: #161616;
}

.root{
  padding: .5rem;
}

@media screen and (min-width: 500px) {
  .root{
    padding: 1rem;
  }
}
